#page5 dd {
	padding-top: 10px;
}
#page5 dd span {
	padding-left: 25px;
}

#page5 a.link-1 {
	color: white;
	padding-left: 18px;
	font-size: 15px;
}

#page5 a.link-2 {
	color: white;
	font-size: 15px;
	padding-left: 28px;
}

h1.title1 {
	font-size: 35px;
	font-weight: 800;
	padding: 15px 5px 15px 15px;
	border-radius: 5px 0 0 5px;
	text-shadow: 5px 0 0 black;
	background: -webkit-linear-gradient(left top, rgb(71, 84, 184) , black);
	margin-top: 30px;
}

h1.title2 {
	font-size: 35px;
	font-weight: 800;
	padding: 15px 15px 15px 0;
	text-shadow: 5px 0 0 black;
	background: -webkit-linear-gradient(right top, rgb(98, 93, 212), black);
	border-radius: 0 5px 5px 0;
	margin-top: 30px;
}

.title-logo {
	width: 90px;
	left: 95px;
	top: 10px;
	position: absolute;
	background: -webkit-linear-gradient(left top, rgb(71, 84, 184) , black);
	border-radius: 50%;
}

.desc {
	font-family: 'Signika', sans-serif;
	font-size: 18px;
	top: 85px;
	position: relative;
	left: -170px;
}

.title-group:hover {
	color:white;
}

